{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      {{- .Content -}}
    </section>
    <section class="flex-ns mt5 flex-wrap justify-around">
      <div class="pa4">
        <div class="overflow-auto">
          <table class="f6 w-100 mw8 center" cellspacing="0">
            <tbody class="lh-copy">
              <tr>
                <th class="fw6 bb b--black-20 tl pb3 pr3">Citation Key</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3">Title</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3">Authors</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3">Year</th>
              </tr>
              {{ range .Pages }}
                <tr>
                  <td class="pv3 pr3 bb b--black-20">{{ with .Params.key }}{{ . }}{{ end }}</td>
                  <td class="pv3 pr3 bb b--black-20"><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
                  <td class="pv3 pr3 bb b--black-20">{{ with .Params.biblio_authors }}{{ . }}{{ end }}</td>
                  <td class="pv3 pr3 bb b--black-20">{{ with .Params.biblio_publication_year }}{{ . }}{{ end }}</td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </article>
{{ end }}
