{{ define "main" }}
  <div class="flex-l mt2 mw8 center">

    <article>
      <h1>{{ .Title }}</h1>

      <div>{{ .Content }}</div>
      
      {{- partials.Include "tags.html" . -}}
    
      {{ if .Params.images }}
        <div class="images">
          {{ range .Params.images }}
            <img src="{{ . }}" alt="">
          {{ end }}
        </div>
      {{ end }}
    
      {{ if .Params.comments }}
        <section class="comments">
          <h2>Comments</h2>
          <ul>
            {{ range .Params.comments }}
              {{ $c := site.GetPage (printf "/comment/%s.md" .) }}
              {{ if $c }}
                <li>
                  <strong>{{ $c.Params.author }}</strong> ({{ $c.Params.date }}):
                  <div>{{ $c.Content }}</div>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </section>
      {{ end }}
    </article>
  </div>
{{ end }}
